RETO_3/controller/__pycache__/producto_controller.cpython-311.pyc
RETO_3/model/__pycache__/__init__.cpython-311.pyc
RETO_3/model/__pycache__/conexion_db.cpython-311.pyc
RETO_3/model/__pycache__/producto_model.cpython-311.pyc
